
* {
  box-sizing: border-box;
}

.errorMessage {
    color: red;
}

.leftCol {
    width: 48%;
    float: left;
}

.rightCol {
    width: 48%;
    float: right;
}

span.small {
  font-size: smaller;
  color: grey;
}

/* generic list styling */
ul {
    list-style: none;
    text-indent: -1em;
}

/* ember input not be whole width */
input.ember-text-field {
    width: 15em;
}

.networkList {
    width: 40%;
    float: left;
    padding: 1em;
}

.station {
    width: 40%;
    float: left;
}

.station li {
    margin: 0px 10px 0px 10px;
    padding: 0px;
}

.quake .stationList {
    width: 100%;
    float: left;
}

.stationList {
    float: right;
}

.network {
    width: 60%;
    float: right;
}

.quakeList {
    font-size: 10px;
    width: 50%;
    float: left;
    clear: both;
}

.stationEventList {
    font-size: 12px;
    width: 50%;
    float: right;
    overflow: auto;
}

.quake {
}


/* comment
*/


path.seispath {
  stroke: skyblue;
  fill: none;
  stroke-width: 1px;
}

svg g.allsegments g:nth-child(9n+1) path.seispath {
  stroke: skyblue;
}

svg g.allsegments g:nth-child(9n+2) path.seispath {
  stroke: olivedrab;
}

svg g.allsegments g:nth-child(9n+3) path.seispath {
  stroke: goldenrod;
}

svg g.allsegments g:nth-child(9n+4) path.seispath {
  stroke: firebrick;
}

svg g.allsegments g:nth-child(9n+5) path.seispath {
  stroke: darkcyan;
}

svg g.allsegments g:nth-child(9n+6) path.seispath {
  stroke: orange;
}

svg g.allsegments g:nth-child(9n+7) path.seispath {
  stroke: darkmagenta;
}

svg g.allsegments g:nth-child(9n+8) path.seispath {
  stroke: deeppink2;
}

svg g.allsegments g:nth-child(9n+9) path.seispath {
  stroke: sienna;
}

/* same colors for titles */

svg g.title tspan:nth-child(9n+1)  {
  fill: skyblue;
}

svg g.title tspan:nth-child(9n+2)  {
  stroke: olivedrab;
}

svg g.title tspan:nth-child(9n+3)  {
  stroke: goldenrod;
}

svg g.title tspan:nth-child(9n+4)  {
  stroke: firebrick;
}

svg g.title tspan:nth-child(9n+5)  {
  stroke: darkcyan;
}

svg g.title tspan:nth-child(9n+6)  {
  stroke: orange;
}

svg g.title tspan:nth-child(9n+7)  {
  stroke: darkmagenta;
}

svg g.title tspan:nth-child(9n+8)  {
  stroke: deeppink2;
}

svg g.title tspan:nth-child(9n+9)  {
  stroke: sienna;
}

.predicted polygon {
  fill: rgba(220,220,220,.4);
}

.pick polygon {
  fill: rgba(255,100,100,.4);
}

.seispath {
    fill: none;
    stroke: rgb(92, 165, 87);
    stroke-width: 0.75px;
}


.graphClickPane {
    opacity: 0;
}

.ecp {
    clear: both;
    width: 98%;
    box-shadow: inset 0 0 4px 2px rgba(200,200,200,.75);
    border-radius: 10px;
    padding-left: 15px;
    padding-bottom: 15px;

}

.waveformPlot {
    width: 98%;
    height: 252px;
    color: rgb(92, 165, 87);
    background-color: rgb(255, 255, 255);
}

.graphClickPane {
    opacity: 0;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.plotTitle, .label{
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
/*
    clear: both;
*/
}

.label {

}

.yAxisLabel {
    transform: rotate(-90deg);
    float: left;
    text-align: center;
}

/*
.xAxisLabel {
    clear: both;
}

h3 {
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    clear: both;
    padding-top: 25px;
    padding-bottom: 15px;
}
h5 {
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    clear: both;
    padding-top: 15px;
    padding-bottom: 5px;
}
*/

/* map stuff */

.map {
    fill: grey;
    width: 90%;
    height: 250px;
    border-radius: 10px;
    border: 2px solid blue;
}

.graticule {
    stroke: lightgrey;
}

.leaflet-container {
  width: 500px;
  height: 500px;
}

.leaflet-container .station {
  color: red;
}

.small-map .leaflet-container {
  width: 300px;
  height: 200px;
  float: right;
}


[type="radio"] + span::before {
  content: '';
  display: inline-block;
  width: .75em;
  height: .75em;
  vertical-align: -0.125em;
  border-radius: 1.75em;
  border: 0.225em solid #fff;
  box-shadow: 0 0 0 0.125em #000;
  margin-right: 0.75em;
  margin-left: 1.0em;
  transition: 0.25s ease all;
}
[type="radio"]:checked + span::before {
  background: green;
  box-shadow: 0 0 0 0.125em #000;
}
