
.leftCol {
    width: 48%;
    float: left;
}

.rightCol {
    width: 48%;
    float: right;
}

.networkList {
    width: 40%;
    float: left;
}

.station {
    width: 50%;
    float: left;
}

.station li {
    margin: 0px 10px 0px 10px;
    padding: 0px;
}

.event .stationList {
    width: 100%;
    float: left;
}

.stationList {
    float: right;
}

.network {
    width: 60%;
    float: right;
}

.eventList {
    width: 50%;
    float: left;
}

.event {
    width: 50%;
    float: right;
}

/* comment
*/


.seispath {
    fill: none;
    stroke: rgb(92, 165, 87);
    stroke-width: 0.75px;
}


.graphClickPane {
    opacity: 0;
}

.ecp {
    clear: both;
    width: 90%;
    box-shadow: inset 0 0 4px 2px rgba(0,0,0,.75);
    border-radius: 10px;
    padding-left: 15px;
    padding-bottom: 15px;

}

.waveformPlot {
    width: 98%;
    height: 252px;
    color: rgb(92, 165, 87);
    background-color: rgb(255, 255, 255);
}

.graphClickPane {
    opacity: 0;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.plotTitle, .label{
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
/*
    clear: both;
*/
}

.label {

}

.yAxisLabel {
    transform: rotate(-90deg);
    float: left;
    text-align: center;
}

/*
.xAxisLabel {
    clear: both;
}

h3 {
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    clear: both;
    padding-top: 25px;
    padding-bottom: 15px;
}
h5 {
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    clear: both;
    padding-top: 15px;
    padding-bottom: 5px;
}
*/

/* map stuff */

.map {
    float: right;
    width: 40%;
    height: 200px;
    box-shadow: inset 0 0 4px 2px rgba(0,0,0,.75);
    border-radius: 10px;
    padding-left: 15px;
    padding-bottom: 15px;
}
