<div class="menubar">
<h1><LinkTo @route="index">SOD Status</LinkTo></h1>

<nav>
  <LinkTo @route="recipe">Recipe</LinkTo>
  <LinkTo @route="arms">Arms</LinkTo>
  <LinkTo @route="networks">Networks</LinkTo>
  <LinkTo @route="quakes">Quakes</LinkTo>
  <LinkTo @route="perusals">Perusals</LinkTo>
</nav>

</div>
{{yield}}
