<div class="stationEventList">
<h3>Events:</h3>

{{#if model.quakes.isFulfilled }}
{{station-with-quakes-map station=model }}
{{/if}}

{{station-with-quakes-list station=model esps=model.esps }}

</div>
