<h1>Perusals Index</h1>



<ul>
  {{#each model as |perusal|}}
    <li>
      Name: {{#link-to 'perusals.show' perusal.id}} {{perusal.name}} {{/link-to}} 
      ID: {{#link-to 'perusals.show' perusal.id}}<span class="small">{{perusal.id}}</span>
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{#link-to 'perusals.new'}}
Create New Perusal
{{/link-to}}

