<div class="networkList">
<h1>Networks</h1>
<ul>
{{#each model as |net|}}
<li>
{{#link-to 'networks.show.stations' net.id }}
   {{net.networkCode}}{{#if model.isTempNet}}({{model.startTimeUTC}}){{/if}} - {{net.description}}
{{/link-to}}
</li>
{{/each}}
</ul>
</div>

{{outlet}}
